@font-face {
    font-family: 'susanna';
    src: url(../fonts/susanna.otf);
}
@font-face {
    font-family: 'spmarker';
    src: url(../fonts/sp_marker.otf);
}

body {
  margin: 0;
  background-image: url(../pics/mos1.jpg);
  background-repeat: repeat-x repeat-y;
}
ul {
  margin-top: 0.5em;
}
canvas  {
  display: block;
}
#header {
  height: 50vh;
  background-image: url(../pics/head_background.jpg);
  background-position: 0 -250;
  box-shadow: 0 0 2em black;
}
#left_head img {
  border-radius: 50vw;
  border: 1vw rgb(255, 105,105) solid;
}
#right_head td {
  font-family: susanna;
  font-weight: 900;
  color: rgb(65,65,65);
  border: .3vw deepskyblue solid;
  border-radius: 3em;
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
}
#head_card {
  padding-top: 5vh;
}
section#body {
  box-shadow: 0 0 2em black;
  background-color: white;
  margin-left: 12.5%;
  width: 75%;
}
#body .title {
  font-family: susanna;
  font-size: 2vw;
  color: white;
}
.title {
  margin-top: 0;
  width: 25%;
  padding-left: 1vw;
  padding-right: 1vw;
}
#body #presentation {
  background-color: rgb(165,165,165);
}
#body #skills {
  background-color: rgb(255, 105,105);
}
#body #projects {
  background-color: rgb(79, 197, 204);
}
#body #languages {
  background-color: rgb(216, 117, 185);
}
#body #contests {
  background-color: rgb(66, 244, 179);
}
#body #trips {
  background-color: deepskyblue;
}
.subtitle {
  margin-top: 0;
  border: .1em rgb(65,65,65) solid;
  border-radius: 0 0 .5em 0;
  text-align: center;
  width: 50%;
  font-size: 1em;
  background-color: rgb(65,65,65);
  color: white;
}
.paragraph {
  padding-top: 0;
  padding-left: 0;
  padding-right: 1em;
  padding-bottom: 1vh;
  display: inline-block;
  font-family: Kristen ITC;
  max-width: 25%;
  border: .1em rgb(65,65,65) solid;
  border-radius: 0 .5em .5em .5em;
  background-color: white;
  box-shadow: 0 0 .5em gray;
  margin-bottom: 2em;
  color: rgb(65,65,65);
  margin-left: 1vw;
  margin-right: 1vw;
}
#skills_table .paragraph {
  min-width: 450;
}
#interests_table .paragraph {
  min-width: 400;
}
#projects_table .paragraph {
  min-width: 30vw;
}
#languages_table .paragraph {
  min-width: 13vw;
}
#contests_table .paragraph {
  min-width: 13vw;
}
#trips_table .paragraph {
  min-width: 14vw;
}
.project_logo {
  height: 15vh;
  width: auto;
  border-radius: 50em;
  margin: 1em;
  margin-right: 1.5em;
  float: left;
  border: .8vw rgb(79, 197, 204) solid;
}
.language_logo {
  height: 20vh;
  width: auto;
  border-radius: 50em;
  margin: 1em;
  margin-right: 1.5em;
  float: left;
}
.contest_logo {
  height: 20vh;
  width: auto;
  border-radius: 50em;
  margin: 1em;
  margin-right: 1.5em;
  float: left;
}
.trip_logo {
  height: 20vh;
  width: auto;
  border-radius: 50em;
  margin: 1em;
  margin-right: 1.5em;
  float: left;
  box-shadow: 0 0 .8em gray;
}
span {
  padding-left: 1vw;
  font-family: susanna;
  font-weight: 900;
  font-size: 1.1vw;
}

redline {
  color: rgb(255, 80,105);
}
blueline {
  color: deepskyblue;
}

#syk_logo {
  border-color: deepskyblue;
}
#cahier_logo {
  border-color: rgb(255, 241, 142);
}
#stats_logo {
  border-color: rgb(255, 80,105);
}
#tournament_logo {
  border-color: rgb(237, 137, 230);
}
#ask_logo {
  border-color: rgb(66, 244, 179);
}
